server/agent/subflow/node-red-2step-flow.json
[
  {
    "id": "tab_subflow_mgr_2step",
    "type": "tab",
    "label": "Subflow Manager 2-Step",
    "disabled": false,
    "info": ""
  },
  {
    "id": "http_in_subflow_exec_2step",
    "type": "http in",
    "z": "tab_subflow_mgr_2step",
    "name": "POST /subflow-exec-2step",
    "url": "/subflow-exec-2step",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 120,
    "wires": [["fn_init_2step"]]
  },
  {
    "id": "fn_init_2step",
    "type": "function",
    "z": "tab_subflow_mgr_2step",
    "name": "init",
    "func": "msg.earCore = \"http://localhost:8787/api/subflow-manager\";\nmsg.agent_id = \"subflow-manager\";\nmsg.input_payload = msg.payload?.input_payload || { kokrs:\"1000\", bukrs:\"1000\", gjahr:\"2026\", aufnr:\"50001234\", user:\"PM_USER\" };\nmsg.steps = [\n  { seq: 1, name: \"ZCO_EAR_CHK_AFE_AUTH\", fn: \"ZCO_EAR_CHK_AFE_AUTH\" },\n  { seq: 2, name: \"ZCO_EAR_GET_BUDGET\", fn: \"ZCO_EAR_GET_BUDGET\" }\n];\nmsg.current = 0;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 320,
    "y": 120,
    "wires": [["fn_exec_start_2step"]]
  },
  {
    "id": "fn_exec_start_2step",
    "type": "function",
    "z": "tab_subflow_mgr_2step",
    "name": "makeExecutionStart",
    "func": "msg.method = \"POST\";\nmsg.url = `${msg.earCore}/v1/executions`;\nmsg.headers = {\"Content-Type\":\"application/json\"};\nmsg.payload = { agent_id: msg.agent_id, channel: \"node-red\", input_payload: msg.input_payload, meta: { source: \"node-red-2step\" } };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 530,
    "y": 120,
    "wires": [["http_exec_start_2step"]]
  },
  {
    "id": "http_exec_start_2step",
    "type": "http request",
    "z": "tab_subflow_mgr_2step",
    "name": "POST executions",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "x": 740,
    "y": 120,
    "wires": [["fn_capture_exec_2step"]]
  },
  {
    "id": "fn_capture_exec_2step",
    "type": "function",
    "z": "tab_subflow_mgr_2step",
    "name": "captureExecution",
    "func": "msg.execution_id = msg.payload.execution_id;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 950,
    "y": 120,
    "wires": [["fn_step_start_2step"]]
  },
  {
    "id": "fn_step_start_2step",
    "type": "function",
    "z": "tab_subflow_mgr_2step",
    "name": "makeStepStart(current)",
    "func": "const step = msg.steps[msg.current];\nmsg.method = \"POST\";\nmsg.url = `${msg.earCore}/v1/executions/${msg.execution_id}/steps`;\nmsg.headers = {\"Content-Type\":\"application/json\"};\nmsg.payload = {\n  step_seq: step.seq,\n  step_name: step.name,\n  step_type: \"RFC\",\n  target_system: \"SAP\",\n  target_name: \"RFC_DEST_EAR_DEV\",\n  request_payload: {\n    IV_KOKRS: msg.input_payload.kokrs,\n    IV_BUKRS: msg.input_payload.bukrs,\n    IV_GJAHR: msg.input_payload.gjahr,\n    IV_AUFNR: msg.input_payload.aufnr,\n    IV_USER: msg.input_payload.user\n  },\n  idempotency_key: `${msg.execution_id}:${step.seq}`\n};\nmsg._stepStartAt = Date.now();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1170,
    "y": 120,
    "wires": [["http_step_start_2step"]]
  },
  {
    "id": "http_step_start_2step",
    "type": "http request",
    "z": "tab_subflow_mgr_2step",
    "name": "POST step start",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "x": 1390,
    "y": 120,
    "wires": [["fn_capture_step_2step"]]
  },
  {
    "id": "fn_capture_step_2step",
    "type": "function",
    "z": "tab_subflow_mgr_2step",
    "name": "captureStep + mockRFC",
    "func": "msg.step_id = msg.payload.step_id;\nconst step = msg.steps[msg.current];\nmsg.rfc_result = { EV_R_CD: \"S\", EV_MESSAGE: `${step.fn} success` };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1610,
    "y": 120,
    "wires": [["fn_step_end_2step"]]
  },
  {
    "id": "fn_step_end_2step",
    "type": "function",
    "z": "tab_subflow_mgr_2step",
    "name": "makeStepEnd",
    "func": "const duration = Date.now() - (msg._stepStartAt || Date.now());\nmsg.method = \"PATCH\";\nmsg.url = `${msg.earCore}/v1/steps/${msg.step_id}/end`;\nmsg.headers = {\"Content-Type\":\"application/json\"};\nmsg.payload = {\n  status: \"SUCCEEDED\",\n  response_payload: msg.rfc_result,\n  metrics: { duration_ms: duration, source: \"node-red-2step\" }\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1820,
    "y": 120,
    "wires": [["http_step_end_2step"]]
  },
  {
    "id": "http_step_end_2step",
    "type": "http request",
    "z": "tab_subflow_mgr_2step",
    "name": "PATCH step end",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "x": 2020,
    "y": 120,
    "wires": [["fn_loop_or_end_2step"]]
  },
  {
    "id": "fn_loop_or_end_2step",
    "type": "function",
    "z": "tab_subflow_mgr_2step",
    "name": "next step?",
    "func": "msg.current += 1;\nif (msg.current < msg.steps.length) {\n  return [msg, null];\n}\nreturn [null, msg];",
    "outputs": 2,
    "noerr": 0,
    "x": 2210,
    "y": 120,
    "wires": [["fn_step_start_2step"], ["fn_exec_end_2step"]]
  },
  {
    "id": "fn_exec_end_2step",
    "type": "function",
    "z": "tab_subflow_mgr_2step",
    "name": "makeExecutionEnd",
    "func": "msg.method = \"PATCH\";\nmsg.url = `${msg.earCore}/v1/executions/${msg.execution_id}/end`;\nmsg.headers = {\"Content-Type\":\"application/json\"};\nmsg.payload = { status: \"SUCCEEDED\", output_payload: { summary: \"2-step execution complete\", steps: msg.steps.length } };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 2400,
    "y": 160,
    "wires": [["http_exec_end_2step"]]
  },
  {
    "id": "http_exec_end_2step",
    "type": "http request",
    "z": "tab_subflow_mgr_2step",
    "name": "PATCH execution end",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "x": 2610,
    "y": 160,
    "wires": [["fn_http_res_2step"]]
  },
  {
    "id": "fn_http_res_2step",
    "type": "function",
    "z": "tab_subflow_mgr_2step",
    "name": "response",
    "func": "msg.statusCode = 200;\nmsg.payload = { ok: true, execution_id: msg.execution_id, steps: msg.steps.map(s=>s.name), result: msg.payload };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 2800,
    "y": 160,
    "wires": [["http_res_2step"]]
  },
  {
    "id": "http_res_2step",
    "type": "http response",
    "z": "tab_subflow_mgr_2step",
    "name": "HTTP 200",
    "statusCode": "",
    "headers": {},
    "x": 2980,
    "y": 160,
    "wires": []
  }
]
